@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family:'Montserrat',sans-serif;
    background-color: black;;
}
a{
    text-decoration: none;
}
img{
    height:100%;
    width:100%;
    object-fit: cover;
}
p{
    font-size:1rem;
    text-align:left;
    line-height: 1rem; 
}
.container{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.brand h1{
    font-size:1.5rem;
    color:black;
}
.brand h1 span{
    color:turquoise;
}

#header{
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100vw;
    height:auto;
}
#header .header{
    min-height: 8vh;
    background-color: black;
    transition:0.3s ease background-color;
}
#header .nav-bar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    height:100%;
    max-width:1300px;
    padding:0 10px;
}
#header .nav-list ul{
    list-style: none;
    position:absolute;
    background-color: rgba(31,30,30);
    width:100vw;
    height:100vh;
    top:0;
    left:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    z-index:1;
    overflow-x:hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a{
    font-size:1.5rem;
    font-weight:500;
    
    text-decoration:none;
    color:white;
    padding:20px;
    display:block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    color:rgba(240,248,255,0.021);
    font-size:8rem;
    letter-spacing:50px;
    z-index:-1;
    transition:0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform:translate(-50%,-50%) scale(1);
    letter-spacing:initial;
     
}
#header .nav-list ul li:hover a {
	color: turquoise;
}
#header .hamburger {
    height:60px;
    width:60px;
    display:inline-block;
    border:3px solid white;
    border-radius: 50%;
    z-index:100;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transform:scale(0.8);
    margin-right:20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height:2px;
    width:30px;
    position:relative;
    background-color:white;
    z-index: -1;
}
#header .hamburger .bar::after, 
#header .hamburger .bar::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    background-color: white;
    transition: 0.3s ease;
    transition-property:top, bottom;
}
#header .hamburger .bar::after{
    top:8px;
}
#header .hamburger .bar::before{
    bottom:8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*Home Section*/
#home{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 1;
}
#home::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}
#home .home{
    max-width:1200px;
    margin:0 auto;
    padding:0 50px;
    justify-content: flex-start;
}
#home h1{
    display: block;
    width:fit-content;
    font-size:4rem;
    position:relative;
    color:transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1.5s;

}
#home h1:nth-child(1){
    animation-delay: 1.5s;
}
#home h1:nth-child(2){
    animation-delay: 2.5s;
}
#home h1:nth-child(3){
    animation:text_reveal-name 0.5s ease forwards;
    animation-delay: 3.5s;
}
#home h1 span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color: turquoise;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#home h1:nth-child(1) span{
    animation-delay: 1s;
}
#home h1:nth-child(2) span{
    animation-delay: 2s;
}
#home h1:nth-child(3) span{
    animation-delay: 3s;
}
#home .cta{
    display:inline-block;
    padding:10px 30px;
    color:turquoise;
    background-color: transparent;
    border:2px solid turquoise;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease ;
    transition-property: background-color,color;
}
#home .cta:hover{
    color:black;
    background-color: turquoise;


}
.aboutus{
    padding-top:2rem;
    background-color: black;
}
.aboutus h2{
    color:white;
    text-decoration: none;
    font-size:4rem;
    font-weight:bold;
    text-align:center;
    letter-spacing: 0.1rem;
 }
.aboutus hr{
     background-color: turquoise;
     height:2px;
     width:60%;
     margin:0 auto;
}
.aboutus p{
    color:white;
    letter-spacing:0.01rem;
    padding-top: 2rem;
    padding:1rem;
    font-size:1.2rem;
    line-height: 1.4rem;
}
.aboutus img{
    
    border:7px solid white;
    border-radius: 25px;
   
}
.aboutus #image{
    padding-top:7rem;
}


.padding{
    padding-bottom:2rem;
  }
  .courses{
      background-color: black;
  }

  .coursesbox{
    padding:20px;
  }
  .courses h2{
      color: white;
    text-decoration: none;
    font-size:4rem;
    font-weight:bold;
   
   }
  
  .courses hr{
    background-color:turquoise;
    height:2px;
    width:65%;
    margin:0 auto;
  }
  .cards1{
      background-color: black;;
  }
  .card{
      background-color: black;
      color:white;
      border:5px solid white;
  }
  .card:hover{
    background-color:black;
    
    box-shadow: 5px 5px 20px white;
    transition: box-shadow 500ms,background 3s ;
     transition-delay: 500ms;
  }
  .card a:hover{
    background-color:black;
    color:black;
   
  }
 .cards1 a{
     background-color: turquoise;
     color:black;
 }
 .cards1 a:hover{
    color:turquoise;
    background-color: black;

 }
 .social a{
    font-size:4.5rem;
    padding:3rem;
  }
  .fa-facebook{
    color:#3b5998;
  }
  
  .fa-linkedin{
    color:#0077b5;
  }
  .fa-instagram{
    color:#8a3ab9;
  }
  .fa-github{
    color:#fff;
  }
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-linkedin:hover,
  .fa-instagram:hover,
  .fa-github:hover{
    color:#d5d5d5;
  }
  footer{
    background-color:black;
    color:turquoise;
    padding-top:2rem;
    text-align: center;
  }
  footer a{
    color:turquoise;
    text-decoration: none;
    text-align: center;
    display: table;
  }
  footer a:hover{
    color:white;
    text-decoration: none;
  }
  hr.light{
    border-top:1px solid #d5d5d5;
    width:100%;
    margin-top:0.8rem;
    margin-bottom:1rem;
  }
  hr.light-100{
    border-top:1px solid #d5d5d5;
    width:100%;
    margin-top:0.8rem;
    margin-bottom:1rem;
  }
  
  .reveal{
   
    position:relative;
    transform:translateY(150px);
    opacity:0;
    transition: all 1s ease;
  }
  .reveal.active{
    background-color: black;
    transform:translateY(0px);
    opacity:1
  }













/*ANIMATIONS*/
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width:0;
        left:100%;
    }
}
@keyframes text_reveal{
    100%{
        color:black;
    }
}
    @keyframes text_reveal-name{
        100%{
            color:turquoise;
            font-weight:500px;
        }
    }
@media(max-width:992px){
        .social a{
                font-size:4rem;
                padding:2rem;
        }
      
        

    }
    @media(max-width:768px){
        .social a{
            font-size:2rem;
            padding:1.2rem;
          }
          }
          @media(max-width:576px){
            .social a{
                font-size:1.5rem;
                padding:1.0rem;
            }
          }

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
/* header */
#header .hamburger {
    display: none;
}
#header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}
#header .nav-list ul li {
    display: inline-block;
}
#header .nav-list ul li a {
    font-size: 1.8rem;
}
#header .nav-list ul a:after {
    display: none;
}
/* End header */


}
/* End  Media Query For Desktop */